@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
* {
  margin: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1vw;
  word-break: break-all; }

body {
  height: 5000px; }

.content {
  margin-top: 10vw;
  position: absolute; }

@keyframes radial-gradient-center {
  0% {
    background-image: radial-gradient(ellipse at center, #db9914 0%, transparent 0%); }
  25% {
    background-image: radial-gradient(ellipse at center, #db9914 23%, transparent 25%); }
  50% {
    background-image: radial-gradient(ellipse at center, #db9914 48%, transparent 50%); }
  75% {
    background-image: radial-gradient(ellipse at center, #db9914 73%, transparent 75%); }
  100% {
    background-image: radial-gradient(ellipse at center, #db9914 98%, transparent 100%); } }

@keyframes radial-gradient-right {
  0% {
    background-image: radial-gradient(ellipse at right, #db9914 0%, transparent 0%); }
  25% {
    background-image: radial-gradient(ellipse at right, #db9914 25%, transparent 25%); }
  50% {
    background-image: radial-gradient(ellipse at right, #db9914 50%, transparent 50%); }
  75% {
    background-image: radial-gradient(ellipse at right, #db9914 75%, transparent 75%); }
  100% {
    background-image: radial-gradient(ellipse at right, #db9914 100%, transparent 100%); } }

@keyframes radial-gradient-bidi {
  0% {
    background-image: radial-gradient(ellipse at right, #db9914 0%, transparent 0%), radial-gradient(ellipse at left, #db9914 0%, transparent 0%); }
  25% {
    background-image: radial-gradient(ellipse at right, #db9914 25%, transparent 25%), radial-gradient(ellipse at left, #db9914 25%, transparent 25%); }
  50% {
    background-image: radial-gradient(ellipse at right, #db9914 50%, transparent 50%), radial-gradient(ellipse at left, #db9914 50%, transparent 50%); }
  75% {
    background-image: radial-gradient(ellipse at right, #db9914 75%, transparent 75%), radial-gradient(ellipse at left, #db9914 75%, transparent 75%); }
  100% {
    background-image: radial-gradient(ellipse at right, #db9914 100%, transparent 100%), radial-gradient(ellipse at left, #db9914 100%, transparent 100%); } }

.btn {
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  display: inline-block; }
  .btn-main {
    background-color: white;
    letter-spacing: 5px;
    transition-duration: 0.5s;
    font-weight: 400; }
    .btn-main-small {
      padding-top: 0.8vw;
      padding-bottom: 0.8vw;
      padding-left: 2vw;
      padding-right: 2vw; }
    .btn-main-large {
      padding-top: 2vw;
      padding-bottom: 2vw;
      padding-left: 4vw;
      padding-right: 4vw; }
    .btn-main-huge {
      padding-top: 4vw;
      padding-bottom: 4vw;
      padding-left: 8vw;
      padding-right: 8vw; }
    .btn-main:hover {
      background-color: #db9914; }
  .btn-icon-white > .fas {
    color: white; }
    .btn-icon-white > .fas:hover {
      color: #db9914; }
  .btn-icon-yellow {
    color: #db9914; }
  .btn-gradient {
    color: red;
    width: 300px;
    text-align: center; }
    .btn-gradient:hover {
      animation-name: radial-gradient-center;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }

.nav-bar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 5% minmax(10%, 15%) 5% auto;
  align-items: center;
  justify-items: center;
  grid-template-rows: 10vw;
  box-shadow: 0 2px 2px #777777; }
  .nav-bar-dark {
    background-color: black;
    width: 100%;
    height: 100%; }
    .nav-bar-dark-elements {
      display: grid;
      grid-template-columns: repeat(3, 5%) 25%;
      z-index: 1;
      height: 100%;
      align-items: center;
      justify-items: center;
      justify-content: end; }
  .nav-bar-elements {
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    grid-template-rows: 10vw;
    height: 100%;
    width: 0%;
    background-color: white;
    position: absolute;
    z-index: 2;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
    .nav-bar-elements:hover {
      visibility: visible;
      width: 50%; }
  .nav-bar__logo-text {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 2vw; }
  .nav-bar__logo-image {
    position: relative;
    transform: translateY(-1vw); }
    .nav-bar__logo-image__tri-1 {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 2vw solid black;
      border-right: 2vw solid transparent;
      filter: opacity(60%);
      transform: rotateZ(-22deg); }
    .nav-bar__logo-image__tri-2 {
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 2vw solid black;
      border-left: 2vw solid transparent;
      filter: opacity(50%);
      transform: translateX(-1.5vw) rotateZ(-67deg); }
  .nav-bar__menu-btn {
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    height: 26px;
    width: 26px;
    position: relative; }
    .nav-bar__menu-btn__dash {
      width: 26px;
      border-top: 2px solid black;
      position: absolute;
      transform-origin: left;
      transition-duration: 1s; }
      .nav-bar__menu-btn__dash:first-child {
        top: 0px; }
      .nav-bar__menu-btn__dash:nth-child(2) {
        top: 12px;
        filter: opacity(100%); }
      .nav-bar__menu-btn__dash:nth-child(3) {
        top: 24px; }
    .nav-bar__menu-btn:hover .nav-bar__menu-btn__dash:first-child {
      transform: rotateZ(65deg); }
    .nav-bar__menu-btn:hover .nav-bar__menu-btn__dash:nth-child(2) {
      filter: opacity(0%); }
    .nav-bar__menu-btn:hover .nav-bar__menu-btn__dash:nth-child(3) {
      transform: rotateZ(-65deg); }
    .nav-bar__menu-btn:hover + .nav-bar-dark > .nav-bar-elements {
      width: 50%;
      visibility: visible; }

.nav-element {
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  display: inline-block;
  height: 100%; }
  .nav-element:hover .nav-link {
    color: #db9914; }
  .nav-element:hover .fas.fa-arrow-down {
    filter: opacity(100%);
    top: 30%; }
  .nav-element:hover .submenu {
    top: 7vw;
    visibility: visible;
    filter: opacity(100%); }

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.2vw;
  height: 100%; }
  .nav-link-text {
    vertical-align: middle;
    position: relative;
    top: 5vw;
    transform: translateY(-50%); }

.fas.fa-arrow-down {
  position: absolute;
  filter: opacity(0%);
  top: 10%;
  transition-duration: 1s;
  left: 50%;
  transform: translateX(-50%); }

.container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(9, 200px); }
  .container .one {
    position: fixed; }

.link {
  text-decoration: none; }
  .link-basic {
    color: black; }
    .link-basic:hover {
      color: #db9914; }
  .link-yellow {
    color: #db9914; }

.submenu {
  visibility: hidden;
  filter: opacity(0%);
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 2px #777777;
  top: 10vw;
  transition-duration: 0.5s;
  min-width: 7vw; }
  .submenu:hover {
    visibility: visible;
    filter: opacity(100%);
    top: 7vw; }
  .submenu ul {
    list-style-type: none;
    padding: 1vw; }
  .submenu-head {
    font-weight: 700;
    font-size: 1.5vw;
    padding-bottom: 1vw;
    text-transform: uppercase; }
  .submenu-2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: start; }
  .submenu-3 {
    display: grid;
    grid-template-columns: repeat(3, max-content); }
  .submenu-4 {
    display: grid;
    grid-template-columns: repeat(4, max-content); }
  .submenu-side {
    visibility: hidden;
    position: absolute;
    top: 200%;
    left: 100%;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 2px #777777;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    min-width: 7vw; }
    .submenu-side:hover {
      top: 100%;
      visibility: visible; }
    .submenu-side-link {
      position: relative; }
      .submenu-side-link .fas {
        float: right; }
      .submenu-side-link:hover .submenu-side {
        visibility: visible;
        top: 100%; }

.img {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: 2px solid red; }
  .img-content {
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
    display: inline-block; }
  .img-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none; }
  .img-tint:hover {
    filter: brightness(60%); }
  .img-enlarge:hover .img-content {
    transform: scale(1.3); }
  .img-border:hover .img-draw-border-horizontal {
    width: 100%; }
  .img-border:hover .img-draw-border-vertical {
    height: 100%; }
  .img-draw-border-horizontal {
    transition-duration: 0.5s;
    display: inline-block;
    position: absolute;
    width: 0;
    height: inherit;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scaleX(0.9) scaleY(0.8);
    z-index: 2; }
  .img-draw-border-vertical {
    transition-duration: 0.5s;
    display: inline-block;
    position: absolute;
    width: inherit;
    height: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scaleX(0.8) scaleY(0.9);
    z-index: 2; }
  .img-overlay:hover .img-overlay-secondary {
    visibility: visible;
    filter: brightness(50%) opacity(100%);
    transform: scale(1); }
  .img-overlay:hover > .img-overlay-buttons > .img-overlay-link > .btn {
    left: 100%; }
  .img-overlay-main {
    position: absolute; }
  .img-overlay-secondary {
    visibility: hidden;
    filter: opacity(0%);
    position: absolute;
    transition-duration: 1s;
    filter: brightness(50%) opacity(0%);
    transform: scale(2); }
    .img-overlay-secondary:hover {
      visibility: visible;
      filter: brightness(50%) opacity(100%);
      transform: scale(1); }
  .img-overlay-labels {
    position: absolute;
    top: 0px;
    width: 100%; }
  .img-overlay-buttons {
    position: absolute;
    top: 0px;
    left: -20%;
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 25%);
    align-items: center; }
  .img-overlay-link {
    position: relative; }
    .img-overlay-link > .btn {
      position: relative;
      left: 0%;
      transition-duration: 0.5s; }
    .img-overlay-link-wish > .btn {
      transition-delay: 0.1s; }
    .img-overlay-link-compare > .btn {
      transition-delay: 0.2s; }
    .img-overlay-link-view > .btn {
      transition-delay: 0.3s; }
    .img-overlay-link-cart > .btn:hover + .talkbubble, .img-overlay-link-wish > .btn:hover + .talkbubble, .img-overlay-link-compare > .btn:hover + .talkbubble, .img-overlay-link-view > .btn:hover + .talkbubble {
      visibility: visible;
      transition-delay: 0s; }
  .img-label {
    font-size: 0.8vw;
    padding: 0.5vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    visibility: visible; }
    .img-label-green {
      background-color: #80b50d; }
    .img-label-yellow {
      background-color: #db9914; }
    .img-label-discount {
      background-color: #f57008;
      float: right;
      margin-right: 0.5vw; }
      .img-label-discount::before {
        content: "-"; }
      .img-label-discount::after {
        content: "%"; }
    .img-label-black {
      background-color: black; }
  .img-monochrome {
    background-color: red;
    position: relative;
    filter: grayscale(100%);
    transition-duration: 0.5s; }
    .img-monochrome:hover {
      filter: grayscale(0%); }
      .img-monochrome:hover .img-monochrome-text {
        width: 70%; }
    .img-monochrome-text {
      position: absolute;
      background-color: #777777;
      filter: opacity(70%);
      width: 50%;
      height: 25%;
      top: 60%;
      transition-duration: 0.5s;
      color: white;
      text-align: center;
      display: grid;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: start;
      grid-template-rows: repeat(2, 25%); }
      .img-monochrome-text:before {
        content: "";
        left: 100%;
        border-bottom: 50px solid #777777;
        border-right: 25px solid transparent;
        position: absolute; }
      .img-monochrome-text-name {
        font-weight: 400; }
      .img-monochrome-text-title {
        font-size: 0.7vw; }
  .img-flip {
    position: relative; }
    .img-flip > a > img {
      position: absolute; }
    .img-flip-overlay {
      transform: scale(0.5);
      position: absolute;
      top: 0px;
      filter: opacity(0%) brightness(50%);
      transition-duration: 0.5s;
      transform: rotateY(-360deg) scale(0.4); }
      .img-flip-overlay:hover {
        transform: rotateY(0deg) scale(1); }
    .img-flip:hover .img-flip-overlay {
      filter: opacity(100%) brightness(50%);
      transform: rotateY(0deg) scale(1); }
    .img-flip:hover .img-overlay-buttons > .img-overlay-link > .btn {
      left: 100%; }
  .img-cube {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    overflow: hidden;
    background-color: white;
    perspective: 200px;
    perspective-origin: top; }
    .img-cube:hover .img-cube-front {
      transform: translateY(-200px) rotateX(90deg);
      filter: brightness(50%); }
    .img-cube:hover .img-cube-bottom {
      transform: translateY(0px) rotateX(0deg); }
    .img-cube-front {
      width: inherit;
      height: inherit;
      transform-origin: bottom;
      transition-duration: 0.5s;
      backface-visibility: hidden;
      position: absolute;
      filter: brightness(100%); }
    .img-cube-bottom {
      width: inherit;
      height: inherit;
      transform-origin: top;
      transition-duration: 0.5s;
      backface-visibility: hidden;
      position: absolute;
      transform: translateY(200px) rotateX(-90deg); }
      .img-cube-bottom img {
        filter: brightness(50%); }
      .img-cube-bottom:hover .img-overlay-buttons > .img-overlay-link > .btn {
        left: 100%; }
  .img-gradient {
    background-color: red; }
    .img-gradient-bg {
      position: absolute;
      width: 100%;
      height: 100%; }
    .img-gradient-buttons {
      display: grid;
      width: 100%;
      height: 25%;
      grid-template-columns: repeat(4, 25%);
      justify-items: center;
      align-content: center;
      position: absolute;
      background-color: #777777;
      top: 100%;
      transition-duration: 0.5s; }
      .img-gradient-buttons .talkbubble {
        width: 350%;
        top: -400%;
        left: -150%; }
        .img-gradient-buttons .talkbubble:before {
          left: 50%;
          transform: translateX(-50%);
          top: 100%;
          border-top: 0px;
          border-right: 0.8vw solid transparent;
          border-left: 0.8vw solid transparent;
          border-top: 0.8vw solid white; }
    .img-gradient:hover .gradient {
      top: -25%; }
    .img-gradient:hover .img-gradient-buttons {
      top: 75%; }
  .img-coloredbg {
    background-color: white;
    transition-duration: 0.5s;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-columns: 100%; }
    .img-coloredbg-image {
      position: relative; }
    .img-coloredbg-circle {
      position: absolute;
      width: 100%;
      height: 100%;
      transition-duration: 1s;
      border: 1.5vw solid white;
      border-radius: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(0.54);
      filter: opacity(100%); }
    .img-coloredbg-text {
      justify-self: center;
      text-align: center; }
      .img-coloredbg-text-name {
        font-weight: 400; }
      .img-coloredbg-text-title {
        font-size: 0.7vw; }
    .img-coloredbg img {
      position: absolute;
      border: 0.5vw solid #db9914;
      border-radius: 100%;
      transition-duration: 0.5s;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(0.5); }
    .img-coloredbg:hover {
      background-color: #db9914; }
      .img-coloredbg:hover img {
        border-color: white;
        transform: translateX(-50%) translateY(-50%) scale(0.49); }
      .img-coloredbg:hover .img-coloredbg-circle {
        transform: translateX(-50%) translateY(-50%) scale(0.6);
        filter: opacity(0%); }
      .img-coloredbg:hover .img-coloredbg-text {
        color: white; }

.talkbubble {
  visibility: hidden;
  padding: 0.4vw;
  background-color: white;
  position: absolute;
  font-size: 0.96vw;
  width: 150%;
  left: 180%;
  top: -50%;
  text-align: center; }
  .talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0.4vw;
    border-top: 0.8vw solid transparent;
    border-right: 0.8vw solid white; }

.gradient {
  position: absolute;
  background-image: linear-gradient(0deg, #777777 0%, transparent 50%);
  width: 100%;
  height: 100%;
  top: 0px;
  transition-duration: 0.5s; }
