@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
* {
  margin: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

html {
  font-size: 62.5%; }

button {
  border: none; }

@keyframes radial-gradient-center {
  0% {
    background-image: radial-gradient(ellipse at center, #db9914 0%, transparent 0%); }
  25% {
    background-image: radial-gradient(ellipse at center, #db9914 23%, transparent 25%); }
  50% {
    background-image: radial-gradient(ellipse at center, #db9914 48%, transparent 50%); }
  75% {
    background-image: radial-gradient(ellipse at center, #db9914 73%, transparent 75%); }
  100% {
    background-image: radial-gradient(ellipse at center, #db9914 98%, transparent 100%); } }

@keyframes radial-gradient-right {
  0% {
    background-image: radial-gradient(ellipse at right, #db9914 0%, transparent 0%); }
  25% {
    background-image: radial-gradient(ellipse at right, #db9914 25%, transparent 25%); }
  50% {
    background-image: radial-gradient(ellipse at right, #db9914 50%, transparent 50%); }
  75% {
    background-image: radial-gradient(ellipse at right, #db9914 75%, transparent 75%); }
  100% {
    background-image: radial-gradient(ellipse at right, #db9914 100%, transparent 100%); } }

@keyframes radial-gradient-bidi {
  0% {
    background-image: radial-gradient(ellipse at right, #db9914 0%, transparent 0%), radial-gradient(ellipse at left, #db9914 0%, transparent 0%); }
  25% {
    background-image: radial-gradient(ellipse at right, #db9914 25%, transparent 25%), radial-gradient(ellipse at left, #db9914 25%, transparent 25%); }
  50% {
    background-image: radial-gradient(ellipse at right, #db9914 50%, transparent 50%), radial-gradient(ellipse at left, #db9914 50%, transparent 50%); }
  75% {
    background-image: radial-gradient(ellipse at right, #db9914 75%, transparent 75%), radial-gradient(ellipse at left, #db9914 75%, transparent 75%); }
  100% {
    background-image: radial-gradient(ellipse at right, #db9914 100%, transparent 100%), radial-gradient(ellipse at left, #db9914 100%, transparent 100%); } }

@keyframes enter-from-top {
  0% {
    visibility: visible;
    transform-origin: bottom;
    transform: translateY(-100%) rotateX(90deg); }
  100% {
    transform-origin: bottom;
    transform: translateY(0%) rotateX(0deg); } }

@keyframes exit-to-bottom {
  0% {
    transform-origin: top;
    transform: translateY(0%) rotateX(0deg); }
  100% {
    transform-origin: top;
    transform: translateY(100%) rotateX(-90deg);
    visibility: hidden; } }

@keyframes exit-to-right {
  0% {
    transform-origin: left; }
  100% {
    transform-origin: left;
    transform: translateX(100%) rotateY(90deg);
    visibility: hidden; } }

@keyframes enter-from-left {
  0% {
    visibility: visible;
    transform-origin: right;
    transform: translateX(-100%) rotateY(-90deg); }
  100% {
    transform-origin: right;
    transform: translateX(0%) rotateY(0deg); } }

@keyframes shrink-grow__slider-1 {
  0% {
    transform: scale(1.5);
    visibility: visible;
    filter: opacity(0%); }
  5% {
    filter: opacity(100%);
    transform: scale(1); }
  20% {
    transform: scale(1); }
  25% {
    transform: scale(1.5);
    visibility: hidden;
    filter: opacity(100%); }
  100% {
    transform: scale(1.5);
    visibility: hidden;
    filter: opacity(0%); } }

@keyframes shrink-grow__slider-2 {
  0% {
    transform: scale(1.5);
    visibility: hidden; }
  22% {
    transform: scale(1.5);
    visibility: hidden; }
  23% {
    visibility: visible;
    transform: scale(1.5);
    filter: opacity(0%); }
  30% {
    filter: opacity(100%);
    transform: scale(1); }
  45% {
    transform: scale(1); }
  50% {
    visibility: hidden;
    transform: scale(1.5);
    filter: opacity(100%); }
  100% {
    transform: scale(1.5);
    visibility: hidden;
    filter: opacity(0%); } }

@keyframes shrink-grow__slider-3 {
  0% {
    transform: scale(1.5);
    visibility: hidden; }
  47% {
    transform: scale(1.5);
    visibility: hidden; }
  48% {
    visibility: visible;
    transform: scale(1.5);
    filter: opacity(0%); }
  55% {
    filter: opacity(100%);
    transform: scale(1); }
  70% {
    transform: scale(1); }
  75% {
    visibility: hidden;
    transform: scale(1.5);
    filter: opacity(100%); }
  100% {
    transform: scale(1.5);
    visibility: hidden;
    filter: opacity(0%); } }

@keyframes shrink-grow__slider-4 {
  0% {
    transform: scale(1.5);
    visibility: hidden; }
  72% {
    transform: scale(1.5);
    visibility: hidden; }
  73% {
    visibility: visible;
    transform: scale(1.5);
    filter: opacity(0%); }
  80% {
    filter: opacity(100%);
    transform: scale(1); }
  95% {
    transform: scale(1);
    filter: opacity(100%); }
  100% {
    visibility: hidden;
    filter: opacity(0%);
    transform: scale(1.5); } }

@keyframes grow-fade-1 {
  0% {
    transform: scale(1);
    filter: opacity(80%); }
  50% {
    transform: scale(5);
    filter: opacity(0%); }
  100% {
    filter: opacity(0%);
    transform: scale(1); } }

@keyframes grow-fade-2 {
  0% {
    transform: scale(1);
    filter: opacity(80%); }
  15% {
    transform: scale(1);
    filter: opacity(80%); }
  50% {
    filter: opacity(0%);
    transform: scale(5); }
  100% {
    filter: opacity(0%);
    transform: scale(1); } }

.u-uppercase {
  text-transform: uppercase; }

.u-letter-spacing {
  letter-spacing: 0.5rem; }

.u-text-yellow {
  color: #db9914; }

.u-text-grey {
  color: #999999; }

.u-text-white {
  color: white; }

.u-text-black {
  color: black; }

.u-text-centered {
  text-align: center; }

.u-margin--small {
  margin: 1%; }

h1 {
  font-weight: 900;
  font-size: 6rem; }

h2, h3, h4 {
  font-weight: 700; }

h2 {
  font-size: 4.8rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 1.8rem; }

.nav-bar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 5% minmax(10%, 15%) 5% auto;
  align-items: center;
  justify-items: center;
  grid-template-rows: 6vw;
  box-shadow: 0 2px 2px #777777; }
  .nav-bar__elements {
    background-color: black;
    width: 100%;
    height: 100%; }
    .nav-bar__elements__dark {
      display: grid;
      grid-template-columns: repeat(3, 5%) 25%;
      z-index: 1;
      height: 100%;
      align-items: center;
      justify-items: center;
      justify-content: end; }
      .nav-bar__elements__dark .btn > .fas {
        font-size: 2rem; }
    .nav-bar__elements__light {
      visibility: hidden;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      justify-items: center;
      grid-template-rows: 6vw;
      height: 100%;
      width: 0%;
      background-color: white;
      position: absolute;
      z-index: 2;
      transition-duration: 0.6s;
      transition-delay: 0.1s;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
      .nav-bar__elements__light:hover {
        visibility: visible;
        width: 50%; }
      .nav-bar__elements__light__element {
        margin-left: 1%;
        margin-right: 1%;
        position: relative;
        display: inline-block;
        height: 100%; }
        .nav-bar__elements__light__element:hover .nav-link {
          color: #db9914; }
        .nav-bar__elements__light__element:hover .fas.fa-arrow-down {
          filter: opacity(100%);
          top: 20%; }
        .nav-bar__elements__light__element:hover .submenu {
          top: 100%;
          visibility: visible;
          filter: opacity(100%); }
  .nav-bar__menu-btn {
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    height: 26px;
    width: 26px;
    position: relative; }
    .nav-bar__menu-btn__dash {
      width: 26px;
      border-top: 2px solid black;
      position: absolute;
      transform-origin: left;
      transition-duration: 1s; }
      .nav-bar__menu-btn__dash:first-child {
        top: 0px; }
      .nav-bar__menu-btn__dash:nth-child(2) {
        top: 12px;
        filter: opacity(100%); }
      .nav-bar__menu-btn__dash:nth-child(3) {
        top: 24px; }
    .nav-bar__menu-btn:hover .nav-bar__menu-btn__dash:first-child {
      transform: rotateZ(65deg); }
    .nav-bar__menu-btn:hover .nav-bar__menu-btn__dash:nth-child(2) {
      filter: opacity(0%); }
    .nav-bar__menu-btn:hover .nav-bar__menu-btn__dash:nth-child(3) {
      transform: rotateZ(-65deg); }
    .nav-bar__menu-btn:hover + .nav-bar__elements > .nav-bar__elements__light {
      width: 50%;
      visibility: visible; }
  .nav-bar__link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1.2vw;
    height: 100%; }
    .nav-bar__link__text {
      vertical-align: middle;
      position: relative;
      top: 3vw;
      transform: translateY(-50%); }

.fas.fa-arrow-down {
  position: absolute;
  filter: opacity(0%);
  top: 0%;
  transition-duration: 1s;
  left: 50%;
  transform: translateX(-50%); }

.submenu {
  visibility: hidden;
  filter: opacity(0%);
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 2px #777777;
  top: 150%;
  transition-duration: 0.5s;
  min-width: 7vw; }
  .submenu:hover {
    visibility: visible;
    filter: opacity(100%);
    top: 100%; }
  .submenu ul {
    list-style-type: none;
    padding: 1rem; }
  .submenu__head {
    font-weight: 700;
    font-size: 1.5vw;
    padding-bottom: 1rem;
    text-transform: uppercase; }
  .submenu--2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: start; }
  .submenu--3 {
    display: grid;
    grid-template-columns: repeat(3, max-content); }
  .submenu--4 {
    display: grid;
    grid-template-columns: repeat(4, max-content); }
  .submenu__side-link {
    position: relative; }
    .submenu__side-link .fas {
      float: right; }
    .submenu__side-link:hover .submenu__side-menu {
      visibility: visible;
      top: 100%; }
  .submenu__side-menu {
    visibility: hidden;
    position: absolute;
    top: 200%;
    left: 100%;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 2px #777777;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    min-width: 7vw; }
    .submenu__side-menu:hover {
      top: 100%;
      visibility: visible; }

.section {
  overflow: hidden; }
  .section--tiny {
    height: 50rem; }
  .section--small {
    height: 65rem; }
  .section--large {
    height: 80rem; }
  .section--huge {
    height: 100rem; }

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }

.banner--1 {
  width: 100%;
  position: relative;
  height: 60rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .banner--1--small {
    width: 85%;
    height: 80%; }
  .banner--1--large {
    width: 100%;
    height: 100%; }

.banner--2 {
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .banner--2--large {
    width: 90%;
    height: 60%;
    gap: 5rem; }
  .banner--2--small {
    width: 80%;
    height: 80%; }

.banner--3 {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between; }

.banner--4 {
  width: 98%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 33%) 30%;
  grid-template-rows: repeat(2, 48%);
  grid-template-areas: "area1 area2 area3" "area1 area2 area4";
  justify-content: space-between;
  row-gap: 2rem; }
  .banner--4 .card:first-child {
    grid-area: area1; }
  .banner--4 .card:nth-child(2) {
    grid-area: area2; }
  .banner--4 .card:nth-child(3) {
    grid-area: area3; }
  .banner--4 .card:last-child {
    grid-area: area4; }

.banner--6 {
  display: grid;
  width: 50%;
  height: 100%;
  grid-template-rows: repeat(3, 30%);
  grid-template-columns: repeat(3, 30%);
  grid-template-areas: "area1 area1 area2"  "area1 area1 area3" "area4 area5 area6";
  justify-content: space-around;
  align-content: space-around; }
  .banner--6 .img:nth-child(1) {
    grid-area: area1; }
  .banner--6 .img:nth-child(2) {
    grid-area: area2; }
  .banner--6 .img:nth-child(3) {
    grid-area: area3; }
  .banner--6 .img:nth-child(4) {
    grid-area: area4; }
  .banner--6 .img:nth-child(5) {
    grid-area: area5; }
  .banner--6 .img:nth-child(6) {
    grid-area: area6; }

.content {
  margin-top: 6vw;
  position: absolute;
  transition-duration: 0.5s;
  width: 100%; }

.side-menu {
  position: absolute;
  width: 20vw;
  height: inherit;
  left: -15%;
  background-color: #777777;
  transition-duration: 0.5s;
  perspective-origin: right;
  perspective: 200px; }
  .side-menu:hover {
    left: 0%; }
    .side-menu:hover + .slider {
      left: 20.25%; }
    .side-menu:hover .side-menu__content {
      transform: rotateY(0deg); }
  .side-menu__btn {
    width: 20px;
    margin-right: 1.7vw;
    margin-top: 12px;
    border: 2px solid black;
    position: relative;
    content: "";
    float: right;
    /*
        &:hover{
            &:before{
                transform: rotateZ(35deg);
            }
            &:after{
                transform: rotateZ(-35deg);
            }
            // filter:opacity(0%);
        }*/ }
    .side-menu__btn:before {
      content: "";
      width: 20px;
      border: 2px solid black;
      position: absolute;
      left: -2px;
      top: -9px;
      transform-origin: left; }
    .side-menu__btn:after {
      content: "";
      box-sizing: content-box;
      width: 20px;
      position: absolute;
      border: 2px solid black;
      top: 5px;
      left: -2px;
      transform-origin: left; }
  .side-menu__content {
    background-color: #999999;
    height: 100%;
    width: 72%;
    transition-duration: 0.5s;
    transform-origin: right;
    transform: rotateY(-45deg);
    display: grid;
    grid-template-rows: 25% 25%;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center; }
    .side-menu__content .logo-image {
      align-self: end; }

.prices--euro .prices__price:before {
  content: "£"; }

.prices--dollar .prices__price:before {
  content: "$"; }

.prices__price {
  display: inline-block; }
  .prices__price--old {
    color: black;
    text-decoration: line-through; }
  .prices__price--current {
    color: black; }
  .prices__price--new {
    color: #db9914; }

.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition-duration: 0.5s;
  position: relative; }
  .card__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: round;
    transition-duration: 0.5s; }
  .card--tint:hover .card__img {
    filter: brightness(60%); }
  .card--zoom:hover .card__img {
    transform: scale(1.3); }
  .card--lighten:hover .card__img {
    filter: brightness(120%); }
  .card--border {
    position: relative; }
    .card--border--black:before, .card--border--black:after {
      border-color: black; }
    .card--border--white:before, .card--border--white:after {
      border-color: white; }
    .card--border:before {
      content: "";
      transition-duration: 0.5s;
      display: inline-block;
      position: absolute;
      width: 0;
      height: inherit;
      border-top-width: 0.2rem;
      border-bottom-width: 0.2rem;
      border-top-style: solid;
      border-bottom-style: solid;
      top: 0px;
      left: 0px;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scaleX(0.9) scaleY(0.8);
      z-index: 2; }
    .card--border:after {
      content: "";
      transition-duration: 0.5s;
      display: inline-block;
      position: absolute;
      width: inherit;
      height: 0;
      border-left-width: 0.2rem;
      border-right-width: 0.2rem;
      border-left-style: solid;
      border-right-style: solid;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scaleX(0.8) scaleY(0.9);
      z-index: 2; }
    .card--border:hover:before {
      width: 100%; }
    .card--border:hover:after {
      height: 100%; }
  .card--map {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    position: relative; }
    .card--map__item {
      position: relative;
      z-index: 1; }
      .card--map__item-1 {
        left: 40%;
        top: 35%; }
      .card--map__item-2 {
        left: 68%;
        top: 40%; }
      .card--map__item__more-info {
        width: 20rem;
        height: 20rem;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.555);
        border-radius: 100%;
        left: -7rem;
        top: 2rem;
        filter: opacity(0%);
        visibility: hidden;
        transition-duration: 0.5s;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center; }
        al
.card--map__item__more-info:hover {
          visibility: visible;
          top: 5rem;
          filter: opacity(100%); }
        .card--map__item__more-info .img-content {
          width: 40%;
          height: 40%; }
      .card--map__item__btn {
        position: absolute;
        border: 0.1rem solid black;
        border-radius: 100%;
        width: 5rem;
        height: 5rem;
        background-image: radial-gradient(circle at center, black 0%, black 30%, white 30%, white 50%, rgba(0, 0, 0, 0.541) 50%, rgba(0, 0, 0, 0.541) 100%); }
        .card--map__item__btn-container {
          position: relative;
          z-index: 1; }
          .card--map__item__btn-container:hover .card--map__item__btn {
            background-image: radial-gradient(circle at center, white 0%, white 30%, black 30%, black 50%, white 50%, white 100%); }
            .card--map__item__btn-container:hover .card--map__item__btn::before, .card--map__item__btn-container:hover .card--map__item__btn::after {
              animation-play-state: paused; }
          .card--map__item__btn-container:hover .card--map__item__more-info {
            visibility: visible;
            top: 5rem;
            filter: opacity(100%); }
        .card--map__item__btn::before {
          z-index: -1;
          content: "";
          position: absolute;
          border-radius: 100%;
          background-color: black;
          width: 3rem;
          height: 3rem;
          top: 1rem;
          left: 1rem;
          filter: opacity(80%);
          animation-name: grow-fade-1;
          animation-iteration-count: infinite;
          animation-duration: 3s; }
        .card--map__item__btn:after {
          z-index: -2;
          content: "";
          position: absolute;
          border-radius: 100%;
          background-color: black;
          width: 3rem;
          height: 3rem;
          top: 1rem;
          left: 1rem;
          filter: opacity(80%);
          animation-name: grow-fade-2;
          animation-iteration-count: infinite;
          animation-duration: 3s; }

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }
  .form-input {
    width: 50%;
    display: block;
    margin: 2%;
    border: 0.1rem solid #777777;
    padding: 1rem; }

.talkbubble {
  visibility: hidden; }
  .talkbubble--side {
    padding: 0.65rem;
    background-color: white;
    display: inline-block;
    font-size: 1.56rem;
    min-width: 150%;
    left: 110%;
    top: -30%;
    position: absolute;
    text-align: center; }
    .talkbubble--side:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 0.65rem;
      border-top: 1.3rem solid transparent;
      border-right: 1.3rem solid white; }
  .talkbubble--top {
    top: -350%;
    left: -100%;
    padding: 0.5rem;
    min-width: 6rem;
    position: absolute;
    background-color: white;
    text-align: center; }
    .talkbubble--top:before {
      position: absolute;
      content: "";
      top: 100%;
      border-top: 0px;
      border-right: 1.3rem solid transparent;
      border-left: 1.3rem solid transparent;
      border-top: 1.3rem solid white; }

.img-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  justify-content: center; }
  .img-text--left {
    width: 50%;
    left: 10%; }
    .img-text--left .btn {
      margin-top: 5%;
      align-self: flex-start; }
  .img-text--center {
    width: 100%;
    align-items: center; }

.btn {
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  display: inline-block; }
  .btn--main {
    letter-spacing: 0.5rem;
    transition-duration: 0.5s;
    font-weight: 400; }
    .btn--main--small {
      font-size: 1.4rem;
      line-height: 4rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      padding-left: 2rem;
      padding-right: 2rem; }
    .btn--main--large {
      font-size: 1.6rem;
      line-height: 7rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      padding-left: 4rem;
      padding-right: 4rem; }
    .btn--main--huge {
      font-size: 1.8rem;
      line-height: 10rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      padding-left: 5rem;
      padding-right: 5rem; }
    .btn--main--light {
      background-color: white;
      color: black; }
    .btn--main--dark {
      background-color: black;
      color: white; }
    .btn--main:hover {
      background-color: #db9914; }
  .btn--icon .fas {
    font-size: 2rem; }
  .btn--icon--white > .fas {
    color: white; }
    .btn--icon--white > .fas:hover {
      color: #db9914; }
  .btn--icon--yellow {
    color: #db9914; }
  .btn--gradient {
    color: red;
    width: 300px;
    text-align: center; }
    .btn--gradient:hover {
      animation-name: radial-gradient-center;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition-duration: 2s;
  perspective: 300px;
  perspective-origin: center; }
  .cube div {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: opacity(50%);
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition-duration: 2s; }
  .cube .cube1 {
    position: relative; }
  .cube .face1 {
    background-color: red;
    transform-origin: left; }
  .cube .face2 {
    transform-origin: right;
    background-color: blue;
    transform: translateX(-300px) rotateY(-90deg); }
  .cube .face3 {
    background-color: green;
    transform-origin: bottom; }
  .cube .face4 {
    background-color: yellow;
    transform-origin: top;
    transform: translateY(300px) rotateX(-90deg); }
  .cube .face5 {
    background-color: orange;
    transform-origin: bottom;
    transform: translateY(-100%) rotateX(90deg); }
  .cube .face6 {
    background-color: cyan;
    transform-origin: top; }
  .cube:hover .face1 {
    transform: translateX(300px) rotateY(90deg); }
  .cube:hover .face2 {
    transform: translateX(0px) rotateY(0deg); }
  .cube:hover .face3 {
    transform: translateY(-300px) rotateX(90deg); }
  .cube:hover .face4 {
    transform: translateY(0px) rotateX(0deg); }
  .cube:hover .face5 {
    transform: translateY(0px) rotateX(0deg); }
  .cube:hover .face6 {
    transform: translateY(300px) rotateX(-90deg); }

.catalog {
  width: 80%;
  height: 90%; }
  .catalog-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .catalog__category-tab {
    background-color: #f9f9f9;
    height: 6%;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%; }
  .catalog__items {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;
    row-gap: 2rem; }
    .catalog__items__item {
      display: flex;
      flex-flow: column; }
  .catalog__load-more-btn {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center; }

.logo {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: blue; }
  .logo-text {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 3rem; }
  .logo-image {
    position: relative;
    transform: translateY(-1vw); }
    .logo-image__tri-1 {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 2vw solid black;
      border-right: 2vw solid transparent;
      filter: opacity(60%);
      transform: rotateZ(-22deg); }
    .logo-image__tri-2 {
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 2vw solid black;
      border-left: 2vw solid transparent;
      filter: opacity(50%);
      transform: translateX(-1.5vw) rotateZ(-67deg); }

.slider--grow-shrink {
  position: absolute;
  transition-duration: 0.5s;
  left: 5%;
  width: 100%;
  background-color: white;
  height: inherit;
  position: relative;
  overflow: hidden; }
  .slider--grow-shrink__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: content;
    background-repeat: round;
    background-origin: content-box;
    backface-visibility: hidden;
    visibility: hidden;
    animation-duration: 20s;
    animation-direction: normal;
    animation-iteration-count: infinite; }
    .slider--grow-shrink__slide--1 {
      background-image: url("../images/slide1.jpg");
      animation-name: shrink-grow__slider-1; }
    .slider--grow-shrink__slide--2 {
      background-image: url("../images/slide2.jpg");
      animation-name: shrink-grow__slider-2; }
    .slider--grow-shrink__slide--3 {
      background-image: url("../images/slide3.jpg");
      animation-name: shrink-grow__slider-3; }
    .slider--grow-shrink__slide--4 {
      background-image: url("../images/slide4.jpg");
      filter: grayscale(50%);
      animation-name: shrink-grow__slider-4; }

.link {
  text-decoration: none;
  z-index: 10; }
  .link--grey {
    color: #777777;
    border-bottom-color: #777777; }
  .link--black {
    color: black;
    border-bottom-color: black; }
  .link--white {
    color: white;
    border-bottom-color: white; }
  .link--yellow {
    color: #db9914;
    border-bottom-color: #db9914; }
  .link--underline {
    position: relative;
    margin-top: 1rem; }
    .link--underline:after {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      content: "";
      position: absolute;
      width: 5.5rem;
      top: 100%;
      left: 0px;
      margin-top: 0.5rem; }
  .link--margin {
    margin-top: 4%;
    margin-bottom: 4%; }
  .link:hover {
    color: #db9914; }
    .link:hover:after {
      border-color: #db9914; }

.img {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative; }
  .img__content {
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
    display: inline-block; }
  .img__link {
    width: 100%;
    height: 100%;
    display: inline-block; }
  .img--overlay__main {
    position: absolute; }
  .img--overlay__secondary {
    visibility: hidden;
    filter: opacity(0%);
    position: absolute;
    transition-duration: 1s;
    filter: brightness(50%) opacity(0%);
    transform: scale(2); }
    .img--overlay__secondary:hover {
      visibility: visible;
      filter: brightness(50%) opacity(100%);
      transform: scale(1); }
  .img--overlay:hover .img-buttons > .img-buttons--side__btn-group > .img-buttons--side__btn {
    left: 60%; }
  .img--overlay:hover .img--overlay__secondary {
    visibility: visible;
    filter: brightness(50%) opacity(100%);
    transform: scale(1); }
  .img-buttons {
    top: 0px;
    position: absolute; }
    .img-buttons--side {
      position: absolute;
      display: grid;
      grid-template-rows: repeat(4, 15%);
      align-content: end;
      left: -15%;
      width: 30%;
      height: 100%; }
      .img-buttons--side__btn {
        position: relative;
        left: 0%;
        transition-duration: 0.5s; }
        .img-buttons--side__btn:hover + .talkbubble {
          visibility: visible; }
      .img-buttons--side__btn-group {
        position: relative; }
        .img-buttons--side__btn-group:nth-child(2) > .img-buttons--side__btn {
          transition-delay: 0.1s; }
        .img-buttons--side__btn-group:nth-child(3) > .img-buttons--side__btn {
          transition-delay: 0.2s; }
        .img-buttons--side__btn-group:nth-child(4) > .img-buttons--side__btn {
          transition-delay: 0.3s; }
    .img-buttons--bottom {
      display: flex;
      width: 100%;
      height: 25%;
      align-items: center;
      justify-content: space-around;
      background-color: #777777;
      top: 100%;
      transition-duration: 0.5s; }
      .img-buttons--bottom__btn-group {
        position: relative; }
        .img-buttons--bottom__btn-group .btn:hover + .talkbubble {
          visibility: visible; }
  .img-labels {
    position: absolute;
    top: 0px;
    width: 100%; }
    .img-labels__label {
      font-size: 1.3rem;
      padding: 0.5vw;
      margin-left: 0.5vw;
      margin-top: 0.5vw;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      display: inline-block;
      visibility: visible; }
      .img-labels__label--green {
        background-color: #80b50d; }
      .img-labels__label--yellow {
        background-color: #db9914; }
      .img-labels__label--discount {
        background-color: #f57008;
        float: right;
        margin-right: 0.5vw; }
        .img-labels__label--discount::before {
          content: "-"; }
        .img-labels__label--discount::after {
          content: "%"; }
      .img-labels__label--black {
        background-color: black; }
  .img--monochrome {
    background-color: red;
    position: relative;
    filter: grayscale(100%);
    transition-duration: 0.5s; }
    .img--monochrome:hover {
      filter: grayscale(0%); }
      .img--monochrome:hover .img--monochrome__text {
        width: 70%; }
    .img--monochrome__text {
      position: absolute;
      background-color: #777777;
      filter: opacity(70%);
      width: 50%;
      height: 25%;
      top: 60%;
      transition-duration: 0.5s;
      color: white;
      text-align: center;
      display: grid;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: start;
      grid-template-rows: repeat(2, 25%); }
      .img--monochrome__text:before {
        content: "";
        left: 100%;
        top: 0px;
        border-bottom: 10rem solid #777777;
        border-right: 4rem solid transparent;
        position: absolute; }
      .img--monochrome__text__name {
        font-weight: 400; }
      .img--monochrome__text__title {
        font-size: 0.7vw; }
  .img--flip {
    position: relative; }
    .img--flip > a > img {
      position: absolute; }
    .img--flip__cover {
      transform: scale(0.5);
      position: absolute;
      top: 0px;
      filter: opacity(0%) brightness(50%);
      transition-duration: 0.5s;
      transform: rotateY(-360deg) scale(0.4); }
      .img--flip__cover:hover {
        transform: rotateY(0deg) scale(1); }
    .img--flip:hover .img--flip__cover {
      filter: opacity(100%) brightness(50%);
      transform: rotateY(0deg) scale(1); }
    .img--flip:hover .img-buttons > .img-buttons--side__btn-group > .img-buttons--side__btn {
      left: 60%; }
  .img--cube {
    overflow: hidden;
    background-color: white;
    perspective: 20rem;
    perspective-origin: top; }
    .img--cube__face {
      width: inherit;
      height: inherit;
      transition-duration: 0.5s;
      backface-visibility: hidden;
      position: absolute; }
    .img--cube--up:hover .img--cube--up__front {
      transform: translateY(-100%) rotateX(90deg);
      filter: brightness(50%); }
    .img--cube--up:hover .img--cube--up__bottom {
      transform: translateY(0px) rotateX(0deg); }
    .img--cube--up__front {
      transform-origin: bottom;
      filter: brightness(100%); }
    .img--cube--up__bottom {
      transform-origin: top;
      transform: translateY(100%) rotateX(-90deg); }
      .img--cube--up__bottom::after {
        content: "";
        position: absolute;
        filter: opacity(90%);
        background-image: url("../images/instagram-logo.svg"), radial-gradient(ellipse 300% 100% at bottom left, #ffcc45 0%, #ffcc45 15%, #ff5736 25%, #ff5736 30%, transparent 40%, transparent 100%), radial-gradient(ellipse 300% 100% at top left, transparent 0%, transparent 20%, #ff2e94 40%, #ff2e94 100%), radial-gradient(ellipse 300% 100% at 20% 10%, #5952f0 0%, #5952f0 20%, transparent 40%, transparent 100%);
        background-size: 5rem auto,cover,cover,cover;
        background-repeat: no-repeat;
        background-position: center,center;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0%; }
      .img--cube--up__bottom:hover .img--overlay__buttons > .img--overlay__btn > .btn {
        left: 100%; }
    .img--cube--right__front {
      transform-origin: left;
      filter: brightness(100%); }
    .img--cube--right__right {
      transform-origin: right;
      transform: translateX(-100%) rotateY(-90deg); }
      .img--cube--right__right::after {
        content: "";
        position: absolute;
        filter: opacity(90%);
        background-image: url("../images/instagram-logo.svg"), radial-gradient(ellipse 300% 100% at bottom left, #ffcc45 0%, #ffcc45 15%, #ff5736 25%, #ff5736 30%, transparent 40%, transparent 100%), radial-gradient(ellipse 300% 100% at top left, transparent 0%, transparent 20%, #ff2e94 40%, #ff2e94 100%), radial-gradient(ellipse 300% 100% at 20% 10%, #5952f0 0%, #5952f0 20%, transparent 40%, transparent 100%);
        background-size: 5rem auto,cover,cover,cover;
        background-repeat: no-repeat;
        background-position: center,center;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0%; }
    .img--cube--right:hover .img--cube--right__front {
      transform: translateX(100%) rotateY(90deg);
      filter: brightness(50%); }
    .img--cube--right:hover .img--cube--right__right {
      transform: translateX(0px) rotateY(0deg); }
    .img--cube--left__front {
      transform-origin: right;
      filter: brightness(100%); }
    .img--cube--left__left {
      transform-origin: left;
      transform: translateX(100%) rotateY(90deg); }
      .img--cube--left__left::after {
        content: "";
        position: absolute;
        filter: opacity(90%);
        background-image: url("../images/instagram-logo.svg"), radial-gradient(ellipse 300% 100% at bottom left, #ffcc45 0%, #ffcc45 15%, #ff5736 25%, #ff5736 30%, transparent 40%, transparent 100%), radial-gradient(ellipse 300% 100% at top left, transparent 0%, transparent 20%, #ff2e94 40%, #ff2e94 100%), radial-gradient(ellipse 300% 100% at 20% 10%, #5952f0 0%, #5952f0 20%, transparent 40%, transparent 100%);
        background-size: 5rem auto,cover,cover,cover;
        background-repeat: no-repeat;
        background-position: center,center;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0%; }
    .img--cube--left:hover .img--cube--left__front {
      transform: translateX(-100%) rotateY(-90deg);
      filter: brightness(50%); }
    .img--cube--left:hover .img--cube--left__left {
      transform: translateX(0px) rotateY(0deg); }
    .img--cube--down:hover .img--cube--down__front {
      transform: translateY(100%) rotateX(-90deg);
      filter: brightness(50%); }
    .img--cube--down:hover .img--cube--down__top {
      transform: translateY(0px) rotateX(0deg); }
    .img--cube--down__front {
      transform-origin: top;
      filter: brightness(100%); }
    .img--cube--down__top {
      transform-origin: bottom;
      transform: translateY(-100%) rotateX(90deg); }
      .img--cube--down__top::after {
        content: "";
        position: absolute;
        filter: opacity(90%);
        background-image: url("../images/instagram-logo.svg"), radial-gradient(ellipse 300% 100% at bottom left, #ffcc45 0%, #ffcc45 15%, #ff5736 25%, #ff5736 30%, transparent 40%, transparent 100%), radial-gradient(ellipse 300% 100% at top left, transparent 0%, transparent 20%, #ff2e94 40%, #ff2e94 100%), radial-gradient(ellipse 300% 100% at 20% 10%, #5952f0 0%, #5952f0 20%, transparent 40%, transparent 100%);
        background-size: 5rem auto,cover,cover,cover;
        background-repeat: no-repeat;
        background-position: center,center;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0%; }
      .img--cube--down__top:hover .img--overlay__buttons > .img--overlay__btn > .btn {
        left: 100%; }
  .img--gradient__image {
    position: absolute;
    width: 100%;
    height: 100%; }
    .img--gradient__image:before {
      content: "";
      position: absolute;
      background-image: linear-gradient(0deg, #777777 0%, transparent 50%);
      width: 100%;
      height: 100%;
      top: 0px;
      transition-duration: 0.5s; }
  .img--gradient:hover .img--gradient__image::before {
    top: -25%; }
  .img--gradient:hover .img-buttons {
    top: 75%; }
  .img--color-bg {
    background-color: #f9f9f9;
    transition-duration: 0.5s;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center; }
    .img--color-bg__image {
      width: 50%;
      height: 50%;
      position: relative;
      transition-duration: 0.5s;
      border-radius: 100%; }
      .img--color-bg__image img {
        border-radius: 100%; }
      .img--color-bg__image:before {
        content: "";
        border: 1rem solid #f9f9f9;
        border-radius: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        transform: scale(1.1);
        filter: opacity(100%);
        transition-duration: 1.5s;
        transition-delay: 0.1s; }
    .img--color-bg__text__name {
      font-weight: 400; }
    .img--color-bg__text__title {
      font-size: 0.7vw; }
    .img--color-bg:hover {
      background-color: #db9914; }
      .img--color-bg:hover .img--color-bg__image {
        transform: scale(0.95); }
        .img--color-bg:hover .img--color-bg__image:before {
          transform: scale(1.4);
          filter: opacity(0%); }
      .img--color-bg:hover .img--color-bg__text {
        color: white; }
