@mixin set-padding($top-bottom,$left-right){
    padding-top:($pad * $top-bottom);
    padding-bottom:$pad * $top-bottom;
    padding-left: ($pad * $left-right);
    padding-right: $pad * $left-right;
}
@mixin insta-bg{
    &::after{
        content:"";
        position: absolute;
        filter: opacity(90%); 
        background-image:url("../images/instagram-logo.svg"),radial-gradient(ellipse 300% 100% at bottom left,
                                                            $insta-color-1 0%,$insta-color-1 15%,
                                                            $insta-color-4 25%, $insta-color-4 30%,
                                                        transparent 40%, transparent 100%)
                                        ,radial-gradient(ellipse 300% 100% at top left,
                                        transparent 0%, transparent 20%
                                        , $insta-color-2 40%,  $insta-color-2 100% ),
                                        radial-gradient(ellipse 300% 100% at 20% 10% ,
                                        $insta-color-3 0%, $insta-color-3 20%
                                        , transparent 40%,  transparent 100% )
                                        ; 
        background-size: 5rem auto,cover,cover,cover;
        background-repeat: no-repeat;
        background-position: center,center;
        width:100%;
        height: 100%;
        left:0px;
    }
}