$color-1:white;
$color-2: black;
$color-3: rgb(86%, 60%, 8%);

$color-4: rgb(96%, 44%, 3%);
$color-5:rgb(50%, 71%, 5%);

$shade-1: rgb(153, 153, 153);
$shade-2:rgb(119, 119, 119); //font link
$shade-3:rgb(249, 249, 249); //submenu background



$font: 'Roboto';
$nav-bar-font-size:1.2vw;
$submenu-head-font-size:1.5vw;
$nav-bar-icon-btn-font:2rem;
// $nav-bar-logo-font-size:2vw;
$nav-bar-logo-font-size:3rem;

$img-label-font:1.3rem;
$icon-btn-font:2rem;
$submenu-top:7vw;
$submenu-min-width:7vw;
$slider-height: 65rem;
// $pad:1vw; //padding
$pad: 1rem;
$trans-dur:0.5s; //transition duration

$nav-bar-height:6vw;

$side-bar-width:20vw;
