


.nav-bar{
    z-index:1000;
    position: fixed;
    width:100%;
    background-color: $color-1;

    display: grid;
    grid-template-columns: 5% minmax(10%,15%) 5% auto;
    align-items: center;
    justify-items: center;
    grid-template-rows: $nav-bar-height;

    box-shadow: 0 2px 2px $shade-2;
    
    &__elements{
        background-color: $color-2;
        width: 100%;
        height: 100%;
        &__dark{
            // background-color: red;
            display:grid;
            grid-template-columns: repeat(3,5%) 25%;
            z-index: 1;
            height:100%;
            align-items: center;
            justify-items:center;
            justify-content: end;
            & .btn>.fas{
                font-size:$nav-bar-icon-btn-font;
            }
        }
        &__light{ 
            visibility: hidden;
            display:grid;
            grid-template-columns: repeat(4,25%);
            
            justify-items: center;
            grid-template-rows: $nav-bar-height;
            
    
            height: 100%;
            width:0%;
            background-color: $color-1;
    
            position: absolute;
            z-index: 2;
    
            transition-duration: 0.6s;
            transition-delay: 0.1s;
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            &:hover{
                visibility: visible;
                width:50%;
            }
            &__element{
                margin-left:1%;
                margin-right:1%;
                position: relative;
                display: inline-block;
                height: 100%;
                &:hover{
                    & .nav-link{
                        color: $color-3;
                    }
                    
                     & .fas.fa-arrow-down{
                        filter:opacity(100%);
                        top:20%;
                     }
                     & .submenu{
                        top:$submenu-top;
                        visibility: visible;
                         filter:opacity(100%);
                     }
                }
            }
        }
        
    }
    
    
    &__menu-btn{
        background-color: transparent; //white
        text-decoration: none;
        text-transform: uppercase;
        color:$color-2;
        $Height:26px;
        $Width:26px;
        height:$Height;
        width:$Width;
        position: relative;
        &__dash
        {
            width:$Width;
            border-top:2px solid $color-2;
            position: absolute;
            transform-origin: left;
            transition-duration: 1s;    
            &:first-child{
    
                top:0px;
            }
            &:nth-child(2){
                top: 12px;
                filter:opacity(100%);
    
            }
            &:nth-child(3){
                top: 24px;
            }
        }
        &:hover{
            .nav-bar__menu-btn__dash{
                $deg:65deg;
                
                &:first-child{
                    transform: rotateZ($deg);
                }
                &:nth-child(2){
                    filter:opacity(0%);
                }
                &:nth-child(3){
                    transform: rotateZ(-$deg);
                }
            }
            &+.nav-bar__elements>.nav-bar__elements__light{
                width:50%;
                visibility: visible;
            }  
    
        }
    
        
    }
    &__link{

        text-decoration: none;
        text-transform: uppercase;
        color: $color-2;
        font-size:$nav-bar-font-size;
        height: 100%;
        &__text{
            vertical-align: middle;
            position: relative;
            top:$nav-bar-height/2;
            transform: translateY(-50%);
        }
    }
}

.fas.fa-arrow-down{
    position: absolute;
    filter:opacity(0%);
    top:0%;
    transition-duration: 1s;
    left:50%;
    transform: translateX(-50%);
}