.section{   
     
    overflow: hidden; 
    &--tiny{
        height:50rem;
    }
    &--small{
        height:65rem;
    }
    &--large{
        height:80rem;
    }
    &--huge{
        height:100rem;
    }
}