.btn{
    background-color: transparent; //white
    text-decoration: none;
    text-transform: uppercase;
    color:$color-2;
    display: inline-block;
    &--main{
        letter-spacing: 0.5rem;
        transition-duration: $trans-dur;
        font-weight:400;
        &--small{
            font-size:1.4rem;
            line-height: 4rem;
            @include set-padding(0,2);
        }
        &--large{
            font-size:1.6rem;
            line-height: 7rem;
            @include set-padding(0,4);
        }
        &--huge{
            font-size:1.8rem;
            line-height: 10rem;
            @include set-padding(0,5);            
        }
        &--light{
            background-color: $color-1;
            color: $color-2;
        }
        &--dark{
            background-color: $color-2;
            color: $color-1;
        }
        &:hover{
            background-color: $color-3;
        }
    }
    &--icon{
        & .fas{
            font-size:$icon-btn-font;
        }
        &--white>.fas{
            color:$color-1;
            &:hover{
                color:$color-3;
            }
        }
        &--yellow{
            // font-size:3rem;
            color: $color-3;
        }
    }
    
    &--gradient{
        color:red;
        width:300px;
        text-align: center;
        &:hover{
            animation-name: radial-gradient-center;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;

        }
    }
}






