$width:300px;
$height: 300px;
.cube{
    position: relative;
    width:300px;
    height: 300px;
    // transform: rotateY(30deg) rotateX(20deg);
    transform-style: preserve-3d;
    transition-duration: 2s;
    perspective: 300px;
    perspective-origin: center;
    & div{
    width:100%;
    height: 100%;
     position: absolute;
    //  background-color: green;
     filter: opacity(50%);
     text-align: center;
     backface-visibility: hidden;
     transform-style: preserve-3d;
     transition-duration:2s;
    }
    & .cube1{
        position: relative;
    }
    & .face1{
        background-color: red;
        transform-origin: left;
    }
    & .face2 
    { 
        transform-origin: right;
        background-color: blue;
        transform: translateX(-300px) rotateY(-90deg);
    }
    & .face3 
    { 
        // transform: translateZ(50%);
        background-color: green;
        transform-origin: bottom;
    }
    & .face4{
        background-color: yellow;
        transform-origin: top;
        transform:translateY(300px) rotateX(-90deg);
    }
    & .face5{
        background-color: orange;
        transform-origin: bottom;
        transform: translateY(-100%) rotateX(90deg);
    }
    & .face6{
        background-color: cyan;
        transform-origin: top;
        // transform:rotateX(-90deg) translateZ(150px);
    }
    &:hover{
        .face1{
            transform: translateX(300px) rotateY(90deg);
        }
        .face2{
            transform: translateX(0px) rotateY(0deg);
        }
        .face3{
            transform: translateY(-300px) rotateX(90deg);
        }
        .face4{
            transform: translateY(0px) rotateX(0deg);
        }
        .face5{
            transform: translateY(0px) rotateX(0deg);
        }
        .face6{
            transform: translateY(300px) rotateX(-90deg);
        }
    }
}
