$width:200px;
$height:200px;
.img{
    // width:inherit;
    // height:inherit;
    width:$width;
    height:$height;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:2px solid red;
    &__content{
        transition-duration: $trans-dur;
        width:100%;
        height:100%;
        display: inline-block;
    }
    &__link{
        width:100%;
        height:100%;
        display: inline-block;
        text-decoration: none;
        
    }
    &--tint{
        &:hover{
            filter: brightness(60%);
        }
    }

    &--enlarge{
        &:hover{
            & .img__content{
                transform: scale(1.3);
            }
        } 
    }
    &--border{
        &:hover{
            & .img__draw-border-horizontal{
               width:100%;
            }
            & .img__draw-border-vertical{
                height:100%;
             }
        } 
    }
    &__draw-border-horizontal{
        transition-duration: $trans-dur;
        display: inline-block;
        position: absolute;
        width: 0;
        height: inherit ;
        border-top: 2px solid $color-1;
        border-bottom: 2px solid $color-1;
        top:50%;
        left:50%;
        transform: translateY(-50%) translateX(-50%) scaleX(0.9) scaleY(0.8);
        z-index:2;

    }
    &__draw-border-vertical{
        transition-duration: $trans-dur;
        display: inline-block;
        position: absolute;
        width: inherit;
        height: 0;
        border-left: 2px solid $color-1;
        border-right: 2px solid $color-1;
        top:50%;
        left:50%;
        transform: translateY(-50%) translateX(-50%) scaleX(0.8) scaleY(0.9);
        z-index:2;

    }
    &--overlay{
        // border:2px solid red;
        &:hover .img--overlay__secondary{
            visibility: visible;
            filter:brightness(50%) opacity(100%);
            transform: scale(1);
        }
        &:hover >.img--overlay__buttons>.img--overlay__btn>.btn
        {
            left:100%;
        }
        &__main{
            position: absolute;
 
        }
        &__secondary{
            visibility: hidden;
            filter:opacity(0%);
            position: absolute;
            transition-duration: 1s;
            filter: brightness(50%) opacity(0%);
            transform: scale(2);
            &:hover{
                visibility: visible;
                filter:brightness(50%) opacity(100%);
                transform: scale(1);
            }
        }
        &__labels{
            position: absolute;
            top:0px;
            width:100%;
        }
        &__buttons{
            position: absolute;
            top:0px;   
            left: -20%;
            width: 25%;         
            height:100%;
            display: grid;
            grid-template-rows: repeat(4,25%);
            align-items: center;
        }
        &__btn{
            $trans-delay:0.1s;
            position: relative;
            &>.btn{
                position: relative;
                left:0%;
                transition-duration: $trans-dur;
            }
            
            &--wish>.btn{
                transition-delay: $trans-delay;
            }
            &--compare>.btn{
                transition-delay: $trans-delay*2;          
            }
            &--view>.btn{
                transition-delay: $trans-delay*3;
            }
            &--cart>.btn, &--wish>.btn,&--compare>.btn, &--view>.btn{
                &:hover +.talkbubble{
                    visibility: visible;
                    transition-delay: 0s;
                }
            }
         }
    }
    &__label{
        font-size:$image-overlay-label-font;
        $pad:0.5vw;
        $marg:0.5vw;

        padding:$pad;
        margin-left:$marg;
        margin-top:$marg;
        text-decoration: none;
        text-transform: uppercase;
        color:$color-1;
        display: inline-block;
        visibility: visible;
        &--green{
            background-color: $color-5;
        }
        &--yellow{
            background-color: $color-3;
        }
        &--discount{
            background-color: $color-4;
            float:right;
            margin-right:$marg;
            &::before{
                content:"-";
            }
            &::after{
                content:"%"; 
            }
        }
        &--black{
            background-color: $color-2;
        }

    }
    &--monochrome{
        background-color: red;
        position: relative;
        filter:grayscale(100%);
        transition-duration: $trans-dur;
        &:hover{
            filter:grayscale(0%);
            & .img--monochrome__text{
                width:70%;
            }
        }
        &__text{
            position: absolute;
            background-color: $shade-2;
            filter:opacity(70%);
            width:50%;
            height: 25%;
            top:60%;
            transition-duration: $trans-dur;
            color:$color-1;
            text-align: center;
            display: grid;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items:start; 
            grid-template-rows: repeat(2,25%);
            &:before{
                content:"";
                left: 100%;
                border-bottom: $width/4  solid  $shade-2;
                border-right: $width/8 solid transparent;
                position: absolute;
            }
            &__name{
                font-weight: 400;
            }
            &__title{
                font-size:0.7vw;
            }
        }   
    }
    &--flip{
        position: relative;
        & >a>img{
            position: absolute;
        }
        &__cover{
            transform: scale(0.5);
            position: absolute;
            top:0px;
            filter:opacity(0%) brightness(50%);
            transition-duration: $trans-dur;
            transform: rotateY(-360deg) scale(0.4);
            &:hover{
                transform: rotateY(0deg) scale(1);
            }
        }
        &:hover .img--flip__cover{
            filter:opacity(100%) brightness(50%);  
            transform: rotateY(0deg) scale(1); 
        }
        &:hover .img--overlay__buttons>.img--overlay__btn>.btn{
            left:100%;
        }
    }
    &--cube{
        width:200px;
        height: 200px;
        border: 2px solid black;
        overflow: hidden;
        background-color: white;
        perspective: 200px;
        perspective-origin:  top;
        &:hover{
            & .img--cube__front{
                transform: translateY(-200px) rotateX(90deg);
                filter: brightness(50%);
            }
            & .img--cube__bottom{
                transform: translateY(0px) rotateX(0deg);
            }
    
        }
        &__front{
            width:inherit;
            height: inherit;
            transform-origin: bottom;
            transition-duration: $trans-dur;
            backface-visibility: hidden;
            position: absolute;
            filter: brightness(100%);
        }
        &__bottom{
            width:inherit;
            height: inherit;
            transform-origin: top;
            transition-duration: $trans-dur;
            & img{
                filter: brightness(50%);
            }
            backface-visibility: hidden;
            position: absolute;
            transform: translateY(200px) rotateX(-90deg);
            &:hover .img--overlay__buttons>.img--overlay__btn>.btn{
                left:100%;
            }
        }
    } 
    &--gradient{
        background-color: red;
        &__bg{
            position: absolute;
            width:100%;
            height:100%;
        }
        &__cover{
            position: absolute;
            background-image: linear-gradient(0deg,$shade-2 0%,transparent 50%);
            width:100%;
            height: 100%;
            top:0px;
            transition-duration: $trans-dur;
        }
        &__buttons{
            display:grid;
            width:100%;
            height:25%;
            grid-template-columns: repeat(4,25%);
            justify-items: center;
            align-content: center;
            position: absolute;
            background-color: $shade-2;
            top:100%;
            transition-duration: $trans-dur;
            & .talkbubble{
                width:350%;
                top:-400%;
                left:-150%;
                &:before{
                    left: 50%; 
                    transform: translateX(-50%);
                    top:100%;
                    border-top: 0px; 
                    border-right: $image-overlay-label-font solid transparent;
                    border-left: $image-overlay-label-font solid transparent;
                    border-top: $image-overlay-label-font solid $color-1;
                }
            }
        }
        &:hover {
            & .img--gradient__cover {
            top:-25%;
            }
            & .img--gradient__buttons{
                top:75%;
            }
        }
    }
    &--color-bg{
        height: 300px;
        background-color: $color-1;
        transition-duration: $trans-dur;
        display:grid;
        grid-template-rows: 70% 30%;
        grid-template-columns:100%;

        justify-items: center;
        align-items: center;
        &__image{
            width:50%;
            height:50%;
            position: relative;
            border-radius: 100%;
            & img{
                border-radius: 100%;
            }
            &:before{
                content:"";
                border: 10px solid white;
                border-radius: 100%;
                position: absolute;
                width:100%;
                height:100%;
                box-sizing: border-box;
                transform: scale(1.3);
                filter: opacity(100%);
                transition-duration: $trans-dur;
                transition-delay: 0.1s;
            }
        }
        
        &__text{
            &__name{
                font-weight: 400;
            }
            &__title{
                font-size:0.7vw;
            }
        }
        
        &:hover{
            background-color: $color-3;
            & .img--color-bg__image{
                &:before{
                    transform:scale(1.4);
                    filter: opacity(0%);
                }
            }
            & .img--color-bg__text{
                color:$color-1;
            }

        }
    }
}
.talkbubble {
    visibility: hidden;
    padding:$image-overlay-label-font/2;
    background-color: $color-1;
    position: absolute;
    font-size:$image-overlay-label-font*1.2;
    width:150%;
    left: 180%;
    top: -50%;
    text-align: center;
    &:before {
        content: "";
        position: absolute;
        right: 100%;
        top: $image-overlay-label-font/2;
        border-top: $image-overlay-label-font solid transparent;
        border-right: $image-overlay-label-font solid $color-1;
      }
  }


