.img-text{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    position: absolute;
    top:0px;
    justify-content: center;
    &--left{
        width:50%;
        left: 10%;
        .btn{
            margin-top: 5%;
            align-self: flex-start;
        }
    }
    &--center{
        width:100%;
        align-items: center;
    }
    
}
