.logo{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: blue;
    &-text{
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-2;
        font-size:$nav-bar-logo-font-size;
    }
    &-image{

        position: relative;
        transform: translateY(-$logo-top);
        &__tri-1{  
            position: absolute;
            width: 0;
            height: 0;
            border-top: $logo-dimension solid $color-2;
            border-right: $logo-dimension solid transparent;
            filter: opacity(60%);
            transform:rotateZ(-22deg);
          }
          &__tri-2{
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: $logo-dimension solid $color-2;
            border-left: $logo-dimension solid transparent;
            filter: opacity(50%);
            transform:  translateX(-$logo-left) rotateZ(-67deg);
          }
    }
    
}