.talkbubble {
    visibility: hidden;
    &--side{
        padding: $img-label-font /2;
        background-color: $color-1;
        display: inline-block;
        font-size:$img-label-font*1.2;
        min-width:150%;
        left:110%;
        top: -30%;
        position: absolute;
        text-align: center;
        &:before {
            content: "";
            position: absolute;
            right: 100%;
            top: $img-label-font/2;
            border-top: $img-label-font solid transparent;
            border-right: $img-label-font solid $color-1;
        }
    }
    &--top{
        top:-350%;
        left:-100%;
        padding:0.5rem;
        min-width: 6rem;
        position: absolute;
        background-color: white;
        text-align: center;
        &:before{
            position: absolute;
            content:"";
            
            top:100%;
            border-top: 0px; 
            border-right: $img-label-font solid transparent;
            border-left: $img-label-font solid transparent;
            border-top: $img-label-font solid $color-1;
        }
    }
  }