@keyframes radial-gradient-center{
    0%{
        background-image: radial-gradient(ellipse at center,$color-3 0%, transparent 0%);
    }
    25%{
        background-image: radial-gradient(ellipse at center,$color-3 23%, transparent 25%);        
    }
    50%{
        background-image: radial-gradient(ellipse at center,$color-3 48%, transparent 50%);        
    }
    75%{
        background-image: radial-gradient(ellipse at center,$color-3 73%, transparent 75%);        
    }
    100%{
        background-image: radial-gradient(ellipse at center,$color-3 98%, transparent 100%);                
    }
}
@keyframes radial-gradient-right{
    0%{
        background-image: radial-gradient(ellipse at right,$color-3 0%, transparent 0%);
    }
    25%{
        background-image: radial-gradient(ellipse at right,$color-3 25%, transparent 25%);        
    }
    50%{
        background-image: radial-gradient(ellipse at right,$color-3 50%, transparent 50%);        
    }
    75%{
        background-image: radial-gradient(ellipse at right,$color-3 75%, transparent 75%);        
    }
    100%{
        background-image: radial-gradient(ellipse at right,$color-3 100%, transparent 100%);                
    }
}
@keyframes radial-gradient-bidi{
    0%{
        background-image: radial-gradient(ellipse at right,$color-3 0%, transparent 0%),
                            radial-gradient(ellipse at left,$color-3 0%, transparent 0%);
    }
    25%{
        background-image: radial-gradient(ellipse at right,$color-3 25%, transparent 25%),
                            radial-gradient(ellipse at left,$color-3 25%, transparent 25%) ;        
    }
    50%{
        background-image: radial-gradient(ellipse at right,$color-3 50%, transparent 50%),
                        radial-gradient(ellipse at left,$color-3 50%, transparent 50%);    
    }
    75%{
        background-image: radial-gradient(ellipse at right,$color-3 75%, transparent 75%),
                        radial-gradient(ellipse at left,$color-3 75%, transparent 75%);        
    }
    100%{
        background-image: radial-gradient(ellipse at right,$color-3 100%, transparent 100%),
                        radial-gradient(ellipse at left,$color-3 100%, transparent 100%);               
    }
}


@keyframes enter-from-top{
    0%{
        visibility: visible;
        transform-origin: bottom;
        transform: translateY(-100%) rotateX(90deg);
    }   
    100%{
        transform-origin: bottom;
        transform: translateY(0%) rotateX(0deg);
    }

}
@keyframes exit-to-bottom{
    0%{
        transform-origin: top;
        transform: translateY(0%) rotateX(0deg);
    }   
    100%{
        transform-origin: top;
        transform: translateY(100%) rotateX(-90deg);
        visibility: hidden;
    }
}
@keyframes exit-to-right{
    0%{
        // transform: translateZ(50%);
        transform-origin: left;
    }   
    100%{
        transform-origin: left;
        transform: translateX(100%) rotateY(90deg);
        visibility: hidden;
    }
}
@keyframes enter-from-left{
    
    0%{
        visibility: visible;
        transform-origin: right;
        transform: translateX(-100%) rotateY(-90deg);
    }
    100%{
        transform-origin: right;
        transform: translateX(0%) rotateY(0deg); 
    }
}



@keyframes shrink-grow__slider-1{
    0%{
        transform: scale(1.5);
        visibility: visible;
        filter: opacity(0%);
    }
    5%{
        filter: opacity(100%);
        transform: scale(1);
    }
    20%{
        transform: scale(1);
    }
    25%{    
        transform: scale(1.5);
        visibility: hidden;
        filter: opacity(100%);
    }
    100%{
        transform: scale(1.5);
        visibility: hidden;
        filter: opacity(0%);
    }
}
@keyframes shrink-grow__slider-2{
    0%{
        transform: scale(1.5);
        visibility: hidden;
    }
    22%{
        transform: scale(1.5);
        visibility: hidden;
    }
    23%{
        visibility: visible;
        transform: scale(1.5);
        filter: opacity(0%);
    }
    30%{
        filter: opacity(100%);
        transform: scale(1);
    }
    45%{    
        transform: scale(1);
    }
    50%{
        visibility: hidden;
        transform: scale(1.5);
        filter: opacity(100%);
    }
    100%{
        transform: scale(1.5);
        visibility: hidden;
        filter: opacity(0%);
    }
}
@keyframes shrink-grow__slider-3{
    0%{
        transform: scale(1.5);
        visibility: hidden;
    }
    47%{
        transform: scale(1.5);
        visibility: hidden;
    }
    48%{
        visibility: visible;
        transform: scale(1.5);
        filter: opacity(0%);
    }
    55%{
        filter: opacity(100%);
        transform: scale(1);
    }
    70%{    
        transform: scale(1);
    }
    75%{
        visibility: hidden;
        transform: scale(1.5);
        filter: opacity(100%);
    }
    100%{
        transform: scale(1.5);
        visibility: hidden;
        filter: opacity(0%);
    }
}
@keyframes shrink-grow__slider-4{
    0%{
        transform: scale(1.5);
        visibility: hidden;
    }
    72%{
        transform: scale(1.5);
        visibility: hidden;
    }
    73%{
        visibility: visible;
        transform: scale(1.5);
        filter: opacity(0%);
    }
    80%{
        filter: opacity(100%);
        transform: scale(1);
    }
    95%{    
        transform: scale(1);
        filter: opacity(100%);
    }
    100%{
        visibility: hidden;
        filter: opacity(0%);
        transform: scale(1.5);
    }
}