.u-uppercase{
    text-transform: uppercase;
}

.u-letter-spacing{
    letter-spacing: 0.5rem;
}
.u-text-yellow{
    color: $color-3;
}
.u-text-grey{
    color:$shade-1;
}
.u-text-white{
    color:$color-1;
}
.u-text-black{
    color:$color-2;
}
.u-text-centered{
    text-align: center;
}
.u-margin{
    &--small{
    margin: 1%;
    }
}